*{
    padding: 0%;
    margin: 0em;
    box-sizing: border-box; 
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-white;
}